body {
    font-family: system-ui;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* ================ */
    
        --s: 100px; /* control the size */
        
        --_g: #ECEDDC /* first color */ 90deg,#0000 90.5deg;
        background:
         conic-gradient(from -45deg,var(--_g)),
         conic-gradient(from 135deg,var(--_g)) calc(var(--s)/2) 0,
         #29AB87; /* second color */
        background-size: var(--s) var(--s)
      
      
    /* ================ */
  }
  
  h1 {
    width: 300px;
    height: 200px;
    border: 1px solid #16abb6;
    line-height: 200px;
    margin: 0 15px;
    background: #000000d5;
    font-size: 50px;
  }
 
  